<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faculty Data</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <br />
    <h1 class="text-center">Faculty Details</h1>
    <br />
    <!-- Add Faculty details -->
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary float-end m-1"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Add Faculty
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Faculty</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form action="/add-faculty" method="post">
            <div class="modal-body">
              <input
                type="text"
                class="form-control"
                placeholder="Enter Name"
                aria-label="Enter Name"
                aria-describedby="basic-addon1"
                name="Name"
              />
              <br />
              <input
                type="text"
                class="form-control"
                placeholder="Enter Department"
                aria-label="Enter Department"
                aria-describedby="basic-addon1"
                name="Department"
              />
              <br />
              <input
                type="text"
                class="form-control"
                placeholder="Enter Faculty ID"
                aria-label="Enter Faculty ID"
                aria-describedby="basic-addon1"
                name="Fid"
              />
              <br />
              <input
                type="text"
                class="form-control"
                placeholder="Enter Mobile Number"
                aria-label="Enter Mobile Number"
                aria-describedby="basic-addon1"
                name="Mobile"
              />
              <br />
              <input
                type="text"
                class="form-control"
                placeholder="Enter Email Id"
                aria-label="Enter Email Id"
                aria-describedby="basic-addon1"
                name="Email"
              />
              <br />
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Delete Faculty details -->
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary float-end m-1"
      data-bs-toggle="modal"
      data-bs-target="#deleteFaculty"
    >
      Delete Faculty
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="deleteFaculty"
      tabindex="-1"
      aria-labelledby="deleteFacultyModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteFacultyModel">
              Delete Faculty
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form action="/delete-faculty" method="post">
            <div class="modal-body">
              <input
                type="text"
                class="form-control"
                placeholder="Enter Faculty ID"
                aria-label="Enter Faculty ID"
                aria-describedby="basic-addon1"
                name="Fid"
              />
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <select
      class="form-select"
      aria-label="Default select example"
      id="select-department"
      onchange="selectDepartment()"
    >
      <option selected>Select Department</option>
      <option value="Maths">Maths</option>
      <option value="Stats">Stats</option>
      <option value="Computers">Computers</option>
      <option value="English">English</option>
      <option value="Physics">Physics</option>
      <option value="Chemistry">Chemistry</option>
    </select>
    <!-- to display data -->
    <table class="table m-3" id="facultyTable">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Department</th>
          <th scope="col">Faculty Id</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Email Id</th>
          <!-- Add more headers based on your table columns -->
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>

          <!-- Add more cells based on your table columns -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      function selectDepartment() {
        console.log("inside function");
        let selected_department =
          document.getElementById("select-department").value;
        console.log(selected_department);
        let url = `/select-department`;
        fetch(url, {
          method: "post",
          body: JSON.stringify({ Department: selected_department }),
          headers: {
            "content-type": "application/json",
          },
        })
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            const tableBody = document
              .getElementById("facultyTable")
              .getElementsByTagName("tbody")[0];
            tableBody.innerHTML = " ";
            data.forEach((Faculty) => {
              const row = tableBody.insertRow();
              const cell1 = row.insertCell(0);
              const cell2 = row.insertCell(1);
              const cell3 = row.insertCell(2);
              const cell4 = row.insertCell(3);
              const cell5 = row.insertCell(4);

              console.log(Faculty);
              cell1.textContent = Faculty[0];
              cell2.textContent = Faculty[1];
              cell3.textContent = Faculty[2];
              cell4.textContent = Faculty[3];
              cell5.textContent = Faculty[4];
            });
            console.log(data);
          })
          .catch((err) => {
            console.log("error");
          });
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
